<form action="{{ path('translation_delete', { 'id': translation.id, 'slug': slug }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button type="submit" class="confirm-delete btn btn-danger"><i class="fa fa-remove"></i></button>
</form>