{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} |
    {% trans %}Edit a translation{% endtrans %}
{% endblock %}

{% block body %}
    <h2>{% trans %}Edit a translation{% endtrans %}</h2>

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('translation_edition', {'slug': slug}) }}">{% trans %}Back to the list{% endtrans %}</a>
        </li>
    </ul>
{% endblock %}

{%  block javascripts %}
    {{  parent() }}
    <script type="text/javascript" src="/bundles/ovskilanguage/js/hideOrDisplayArticles.js"></script>
{% endblock %}
