<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bundles/ovskilanguage/css/styles.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <div class="container">
                <h1>Vocabulary learner</h1>
                {% if is_granted("ROLE_USER") %}
                    <a class="glyphicon glyphicon-cog" href={{ path("parameters_edit") }}>

                    </a>
                {%  endif %}
            </div>
        </header>
        <div>
            <section class="container">
                {% block body %}{% endblock %}
            </section>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>