/*GENERAL*/

body, html {
    height: 100%;
}

body {
    overflow-x: hidden;
    background: #499bea;/* Old Browsers */
    background: -moz-linear-gradient(-45deg, #499bea 0%, #184b6a 100%); /* FF3.6+ */
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #499bea), color-stop(100%, #184b6a));/* Chrome, Safari4+ */
    background: -webkit-linear-gradient(-45deg, #499bea 0%, #184b6a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #499bea 0%, #184b6a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #499bea 0%, #184b6a 100%); /* IE 10+ */
    background: linear-gradient(135deg, #499bea 0%, #184b6a 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#184b6a', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
}

select, input[type="text"] {
    min-height: 30px;
}


.table>thead>tr>th {
    border-bottom: 1px solid #ddd;
}

p {
    text-align: justify;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h3 {
    font-size: 17px;
}

h2 {
    margin-top: 0px;
    font-size: 23px;
}

.fa-check {
    color: #184b6a;
}

a:hover {
    text-decoration: none;
}

div.error {
    color: red;
    padding-bottom: 10px;
}

.fa-stack {
    width: 1em;
    height: 1em;
    line-height: 1em;
}

.button,
button,
input[type="submit"] {
    background: #184b6a;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 7px 20px;
    -o-transition: background .2s;
    -ms-transition: background .2s;
    -moz-transition: background .2s;
    -webkit-transition: background .2s;
    transition: background .2s;
}

.button:hover,
button:hover,
input[type="submit"]:hover {
    background: #2c2c2c;
    color: #fff;
}

a.button {
    display: inline-block;
    margin-top: 10px;
}

.is-inactive {
    background-color: #ccc;
}

.is-inactive:hover {
    cursor: default;
    background-color: #ccc;
}

.undo-shuffle.is-inactive .text-danger {
    color: #fff;
}

/*HEADER*/

header {
    min-height: 50px;
    background: #2c2c2c;
    color: #fff;
    margin-bottom: 10px;
}

header .container {
    height: 100%;
    padding: 0;
}

header .links {
    display: inline-block;
}

header h1 {
    display: inline-block;
    margin: 0;
    font-size: 30px;
    line-height: 50px;
}

/*NAVBAR*/

header a > i.fa {
    color: #fff;
}

.navbar {
    border: none;
    margin-bottom: 0;
}

.navbar .languages-list {
    float: left;
    height: 50px;
    font-size: 15px;
    line-height: 20px;
}

.navbar .languages-list > a {
    display: block;
    padding: 12px;
    height: 100%;
    color: #fff;
}

.navbar .languages-list a:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

.navbar .languages-list img {
    width: 25px;
    height: 25px;
}

.navbar .nav > li > a,
.navbar .navbar-brand a {
    color: #fff;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav > li.current > a
{
    background-color: #fff;
    color: #000;
}

.navbar .navbar-brand {
    font-size: 20px;
}

.nav > li > a:hover > i.fa,
.nav > li > a:focus > i.fa,
.nav > li.current > a > i.fa {
    color: #000;
}

.navbar-toggle .icon-bar {
    background: #fff;
}

#navbar-collapse {
    background: #2c2c2c;
}

.nav .open>a, .nav .open>a:hover,
.nav .open>a:focus {
    color: #fff;
    background: #2c2c2c;
}

.navbar-nav .open .dropdown-menu > li > a {
    padding: 12px 15px;
}

.dropdown-menu {
    border: none;
    box-shadow: none;
    background: #2c2c2c;
    color: #fff;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.dropdown-menu > li > a {
    color: #fff;
    padding: 12px 20px;
    display: block;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background: #fff;
}

/*FLASHBAGS MESSAGES*/
.container.alert {
    padding: 0;
    border-radius: 0;
}

.container.alert button.close {
    background-color: transparent;
    padding: 6px;
    font-size: 27px;
    opacity: 1;
}

.container.alert-success button.close {
    color: #3c763d;
}

.container.alert-info button.close {
    color: #31708f;
}

.container.alert button.close:focus {
    outline: none;
}

.container.alert button.close:hover {
    color: #000;
}

.container.alert .flash-notice > p {
    margin: 0;
    padding: 10px;
}

/*MAIN*/

/*home*/

#main.container {
    background: #fff;
    box-shadow: inset 0 1px 0 0 #f5f5f5;
    border: solid 1px rgba(0,0,0,0.3);
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#main.container > .row > div {
    position: inherit; /* bootstrap fix (navbar problem)*/
    text-align: justify;
}

.home ul,
.oldschool ul {
    margin: 10px 20px;
}

.home div > ul > li,
.oldschool div > ul > li {
    padding: 5px 0;
    list-style-type: square;
}

.home div > ul > li > ul > li:last-child {
    padding: 5px 0;
}

.home div > ul > li > ul > li:last-child > a {
    height: 100%;
    display: inline-block;
}

.home .picture,
.oldschool .picture{
    padding: 10px 0 20px;
    text-align: center;
}

.home .picture img {
    width: 70%;
}

/*oldschool*/

.oldschool .picture img {
    border: 2px solid #2c2c2c;
    width: 100%;
}

/* translation revision/edition */
.nav-tabs > li,
.nav-tabs > li a {
    position: inherit;
}

.nav-tabs {
    margin-top: 10px;
}

.nav-tabs > li {
    width: 50%;
    font-weight: bold;
}

.nav-tabs > li.active a,
.nav-tabs > li.active a:hover{
    background-color: #428bca;
    color: #fff;

}

.nav-tabs > li a {
    text-align: center;
    background-color: #184B6A;
    color: #FFF;
}

.nav-tabs > li a:hover {
    color: #fff;
    background-color: #2c2c2c;
}

/* Learning list page */

.learning ul li span {
    display: inline-block;
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.learning ul li:first-child span {
    border: none;
}

/* New learning page */

.new-learning form label {
    padding: 0 10px 10px 0;
}

/* Settings page */

.parameters form label {
    padding: 0 10px 10px 0;
}

.parameters #ovski_userbundle_parameters_submit {
    margin-top: 10px;
}

/* Translation page */

.translation h3 {
    text-align: center;
}

form[name="ovski_languagebundle_translation"] input {
    max-width: 125px;
}

.add-translation form,
.filter-translations form {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.translation .filter-translations,
.translation .add-translation {
    border: 1px solid #ddd;
    padding: 8px;
    margin-top: 20px;
}

.translation .add-translation h3,
.translation .filter-translations h3 {
    margin: 0;
    padding-bottom: 10px;
}

.translation > div.download {
    text-align: center;
}

.translation > div.download a {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 5px;
    display: inline-block;
}


.translation > div.download a:hover {
    color: #fff;
    background-color: #2c2c2c;
}

form[name="ovski_languagebundle_translation"] {
    overflow: hidden;
}

form div.submit-button {
    text-align: center;
}

form[name="ovski_languagebundle_translation"] > div.word1,
form[name="ovski_languagebundle_translation"] > div.word2 {
    overflow: hidden;
}

form label:first-letter {
    text-transform: capitalize;
}

form[name="ovski_languagebundle_translation"] > div.word1 > *,
form[name="ovski_languagebundle_translation"] > div.word2 > * {
    float: left;
}

form[name="ovski_languagebundle_translation"] > div.word1 > label,
form[name="ovski_languagebundle_translation"] > div.word2 > label {
    display: block;
}

form[name="ovski_languagebundle_translation"] label {
    padding-right: 5px;
    min-height: 35px;
    line-height: 35px;
    min-width: 90px;
}

form[name="ovski_languagebundle_translation"] .ovski-word label {
    min-width: 60px;
}

select#ovski_languagebundle_translation_wordType {

    margin-left: 57px;
}

.translation .pagination {
    margin-top: 0;
    margin-bottom: 10px;
}

.translation .pagination a,
.translation .pagination span{
    margin-bottom: 5px;
    padding: 10px 17px;
}

/* Filter form */
.filter-form label {
    min-width: 100px;
}

.filter-form > div {
    padding: 5px 0;
}

.translation table {
    margin-top: 20px;
}

.translation table tr th {
    text-transform: capitalize;
}

.translation table tr td.hidden-children {
    cursor: pointer;
    background-color: #f9f9f9;
}

.translation table tr td.hidden-children > span.is-invisible {
    display: none;
}

.translation table tr td > span.is-visible {
    display: inline;
}

.translation table tr td a.star {
    display: block;
    width: 32px;
    height: 32px;
    background: url('../img/stars.png') 0 0;
}

.translation table tr td a.star.star-yes {
    background: url('../img/stars.png') 0 32px;
}

.translation table tr td a.star.ajax-loader {
    background: url('../img/ajax-loader.gif') 0 0;
}

.ajax-loader {
    background: url('../img/ajax-loader.gif') 0 0 no-repeat;
}

.add-translation form .submit-button .ajax-ready {
    display: inline-block;
    width: 32px;
    height: 32px;
}

form[name="ovski_languagebundle_translation"] .ajax-ready {
    position: absolute;
    height: 34px;
    width: 34px;
    margin-left: 10px;
}

.ajax-ready {
    text-align: center;
}

h3.ajax-ready > span {
    margin-top: 5px;
}

h3.ajax-ready {
    font-weight: bold;
    margin-top: 30px;
}

.ajax-ready > span {
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 32px;
}

.translation-revision table tr td:nth-child(1) { width: 45%; }
.translation-revision table tr td:nth-child(2) { width: 45%; }
.translation-revision table tr td:nth-child(3) { width: 10%; }
.translation-edition table tr td:nth-child(1) { width: 34%; }
.translation-edition table tr td:nth-child(2) { width: 34%; }
.translation-edition table tr td:nth-child(3) { width: 32%; }

.translation-revision button {
    margin-right: 8px;
}

.translation-revision div.actions button {
    margin-bottom: 8px;
    height: 42px;
}

.translation-revision div.actions button.undo-shuffle {
    overflow: hidden;
}

.translation-revision div.actions button.undo-shuffle .fa.text-danger {
    left: -6px;
    bottom: -7px;
    position: absolute;
}

/* Edition page */

.translation-edition table form {
    display: inline-block;
}

.translation-edition table td.actions > form,
.translation-edition table td.actions > a
{
    float: right;
}

.translation-edition table td.actions button {
    min-width: 40px;
    margin-left: 5px;
}

/* FOSUser forms */

.fos-user-form {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    margin: 40px auto;
    width: 300px;
}

.fos-user-form > form {
    border-top: 1px solid #ccc;
    padding-top: 15px;
    text-align: center;
}

.fos-user-form div.submit {
    border-bottom: 1px solid #ccc;
}

/* Registration confirmed */

.registration-confirmed {
    padding-top: 25px;
}

/* Login form */

.login-form div {
    width: 100%;
}

.login-form div > input[type="submit"] {
    margin: 15px 65px;
}

.login-form .fos_user_resetting_reset > div > input[type="submit"]{
    margin: 15px 0 0 0;
}

.login-form .related-links {
    padding-top: 15px;
}

.fos_user_resetting_request input[type="submit"],
.fos_user_registration_register input[type="submit"] {
    margin-top: 15px;
}

.login-form label, #fos_user_registration_form label {
    display: block;
    padding: 5px 0;
    margin: 0;
}

.home img {
    padding-bottom: 5%;
    width: 100%;
}

footer {
    text-align: center;
    color: #fff;
    background-color: #2c2c2c;
    line-height: 50px;
    height: 50px
}

/***********
  * DESKTOP *
  ***********/

@media (min-width: 768px) {

    .beta-version {
        position: absolute;
        top: 15px;
        right: -40px;
        z-index: 99999;
        background: #c9302c;
        -moz-transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        height: 50px;
        line-height: 50px;
        font-size: 23px;
        font-weight: bold;
        padding-left: 125px;
        padding-right: 85px;
        color: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    form div.submit-button {
        text-align: left;
    }

    header h1 {
        font-size: 36px;
        padding-right: 30px;
    }

    h3 {
        font-size: 20px;
    }

    header a:hover {
        color: #428bca;
    }

    .navbar .navbar-brand {
        font-size: 25px;
    }

    .home img {
        padding: 0 10% 5%;
        width: 80%;
    }

    .oldschool .picture img {
        width: 50%;
    }

    .add-translation form input {
        max-width: inherit;
    }
}
