{% extends '::base.html.twig' %}

{% block body %}
    <div class="parameters">
        <h2>Settings</h2>

        {{ form(edit_form) }}

        <a href={{ path("learning") }} class="button">
            Back to the language list
        </a>
    </div>
{% endblock %}
