{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} |
    {% trans %}Settings{% endtrans %}
{% endblock %}

{% block body %}
    <div class="parameters">
        <h2>{% trans %}Settings{% endtrans %}</h2>

        {{ form(edit_form) }}

        <a href={{ path("learning") }} class="button">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </div>
{% endblock %}
