<li>
    <a href="{{ path('learning_new') }}">
        {% trans %}Learn a new language{% endtrans %}
        <i class="fa fa-graduation-cap"></i>
    </a>
</li>
{% if learnings %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {% trans %}Languages{% endtrans %}
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            {% for learning in learnings %}
                <li>
                    <a href="{{ path('translation_revision', { 'slug': learning.slug }) }}">{{ learning }}</a>
                <li>
            {% endfor %}
        </ul>
    </li>
{%  endif %}
