{% extends '::base.html.twig' %}

{% block body %}
    <div class="learning">
        <h2>List of your languages being learned</h2>

        <ul class="records_list">
            {% for learning in learnings %}
                <li>
                    <span><a href="{{ path('translation_revision', { 'slug': learning.slug }) }}">{{ learning }}</a></span>
                </li>
            {% endfor %}
        </ul>

        <a class="button" href="{{ path('learning_new') }}">
            Learn a new language
        </a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}