{% extends '::base.html.twig' %}

{% block body %}
    <div class="new-learning">
        <h2>{% trans %}Learn a new language{% endtrans %}</h2>

        {{ form(form) }}

        <a href="{{ path('learning') }}" class="button">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </div>
{% endblock %}
