{% extends '::base.html.twig' %}

{% block body %}
    <div class="new-learning">
        <h2>Learn a new language</h2>

        {{ form(form) }}

        <a href="{{ path('learning') }}" class="button">
            Back to the list
        </a>
    </div>
{% endblock %}
